.cover__overtext {
  max-width: 560px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width:320px) {
  .cover__overtext {
    padding: 0 16px;
  }
}