.footer__container {

  max-width: 1184px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:720px) {
  .footer__container {
    flex-direction: column;
  }
}