@font-face {
  src:
    url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;

}

@font-face {
  src:
    url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;

}

@font-face {
  src:
    url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
}