@font-face {
  src:
    url('../fonts/Inter-Regular.ttf');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;

}

@font-face {
  src:
    url('../fonts/Inter-Bold.ttf');
  font-family: 'Inter';
  font-weight: normal;
  font-style: 700;

}

@font-face {
  src:
    url('../fonts/Inter-Black.ttf');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}