.header__lenguages {
  /*max-width: 78px;*/
  display: flex;
  justify-content: space-between;
  color: #FFFF;
  align-self: center;


}

@media screen and (max-width:320px) {

  .header__lenguages {
    font-size: 18px;
    line-height: 20px;
  }
}